

.post{
    margin-left: auto !important;
    margin-right: 0 !important;
    width: 30vw;
    margin-bottom: 20px !important;
}


.carousel{
    width: 30vw;
    height: 38vh;
    z-index: 0;

}

.post-image{
    height: auto; 
    width: 100%; 
    object-fit: contain;
    /* max-width: 100%;
    max-height: 100%; */
}

.container-form-create{
    width: 70%;
    margin-left: 10vw;
}