

.content{
    width: 100vw;
    height: auto;
    max-width:100%
}

.header{
    height: 7vh;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 1;
}

.logo{
    float:right;
    background-image: url('../images/instagram.png');
    width: 15%;
    height: 15vh;
    background-repeat: no-repeat;
    background-size: 68px 68px;
}

.search{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.content-left{
    width: 100%;
    height: auto;
    margin-top: 70px;
    min-height: 92vh;
}


.content-right{
    width: 100%;
    height: auto;
    margin-top: 70px;
    padding-top: 80px;
    min-height: 92vh;
}
