

.spin-loading{
    margin-left: auto !important;
    margin-right: 0 !important;
    width: 75vw;
    margin-bottom: 20px !important;
}

.message-load{
    margin-left: auto !important;
    margin-right: 0 !important;
    width: 30vw;
    margin-bottom: 20px !important;
}